.logo {
        
    width: 50px;
    background-color: #F0F0F0;
  }
  nav a {
    float: right ;
    margin: 20px;
    border: 1px solid #bea826;
    text-transform: uppercase;
    padding: 10 ;
    
  }
  a {
    text-decoration: none;
    color: black;
    
  }
  header
  {
   display: flex;
   align-items: center;
   height: 70px;
   justify-content: space-between;
   background-color: #F3C5C5 ;
  }
  
  footer {
    text-align: center;
    background-color: #F3C5C5 ;
    height: 50px;
    margin: 30px;
    padding: 20px;



  }
  table, th, td {
    border:1px solid rgb(0, 0, 0);
  }